/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Layout */
.wrapper {
    display: flex;
    width: 100%;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #1f1f1f;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.sidebar h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-buttons button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar-buttons button:hover {
    background-color: #5a6268;
}

/* Header */
.header h2 {
    font-size: 80px;
    margin: 0 0 20px;
    text-align: center;
}

/* Sort and filter controls */
.sort-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sort-controls label {
    margin-right: 5px;
}

.sort-controls select {
    padding: 5px;
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

/* Table */
.table-container {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px 0;
    max-height: calc(100vh - 220px);
}

.data-table-container {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0; /* Remove margin */
    padding: 10px; /* Add padding for spacing */
    background-color: #1f1f1f; /* Background color for the table area */
}

table {
    width: 100%;
    height: 100%; /* Full height for the table */
    border-collapse: collapse;
    table-layout: auto;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}

th {
    background-color: #1f1f1f;
    color: #ffffff;
    font-weight: bold;
}

td {
    background-color: #2e2e2e;
    color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #181818;
}

tr:nth-child(even) {
    background-color: #2e2e2e;
}

tr:hover {
    background-color: #3b3b3b;
}

th:nth-child(1), td:nth-child(1) {
    width: 100px;
}

th:nth-child(2), td:nth-child(2) {
    width: 200px;
}

th:nth-child(3), td:nth-child(3) {
    width: 120px;
}

.img-cell {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.managedata {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.modal-content, .data-modal-content {
    overflow-y: auto;
    background-color: #121212;
    margin: 0; /* Remove margin to make it full screen */
    padding: 20px;
    border: 1px solid #888;
    width: calc(100%); /* Full width minus the sidebar */
    height: calc(100%); /* Full height minus padding */
    position: absolute;
    box-sizing: border-box; /* Ensure padding is included in height/width */
    display: flex;
    flex-direction: column;
}

/* Modal content styles */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.modal-buttons button {
    flex: 1;
    margin: 5px; /* Adjust margin */
    padding: 10px; /* Adjust padding */
}

/* File upload */
.file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-upload input[type="file"] {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1f1f1f;
    color: #fff;
}

.file-upload button {
    padding: 5px 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload button:hover {
    background-color: #5a6268;
}

/* Common styles for modals */
.modal-content div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.modal-content label {
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1f1f1f;
    color: #fff;
}

.modal-content textarea {
    resize: vertical;
}

.modal-content input[type="file"] {
    padding: 0;
}

.modal-content button {
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #5a6268;
}

.modal-content .file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-content .file-upload input[type="file"] {
    flex: 1;
}

.csvtable {
    table-layout: fixed;
}

.csvtable col, th, td{
    width: 200px;
}

input[type="file"]::file-selector-button {
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #5a6268;
}