html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents the page from scrolling */
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #1f1f1f;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-buttons button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar-buttons button:hover {
    background-color: #5a6268;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header h2 {
    font-size: 80px;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.filter-bar,
.sort-buttons {
    display: flex;
    gap: 10px;
}

input, button {
    margin-bottom: 10px;
}

button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #5a6268;
}

.table-container {
    overflow-y: auto;
    max-height: 600px; /* Adjust this value as needed */
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.cell {
    background-color: #424242;
}

.row:nth-child(odd) {
    background-color: #181818;
}

.row:nth-child(even) {
    background-color: #424242;
}

.row .cell:nth-child(2) {
    font-weight: bold;
    font-size: 50px;
}

.img-cell {
    width: 100px;
    height: 150px;
    vertical-align: middle;
}

.large-font {
    font-size: 25px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #121212;
    margin: 5% auto; /* Centered with some margin from top */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Responsive width */
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
}
